<h2>List</h2>
<div class="row">
  {{#each model as |feature|}}
    <div class="col-md-4">
      {{#feature-item item=feature}}
        {{#link-to 'features.edit' feature.id class='btn btn-success btn-xs' }}Edit{{/link-to}}
        <button class="btn btn-danger btn-xs" {{action 'deleteFeature' feature}}>Delete</button>
      {{/feature-item}}
    </div>
  {{/each}}
</div>
