<h2>Add a new feature</h2>

<div class="row">

  <div class="col-md-6">
    {{feature-item-form item=model buttonLabel='Add to feature list' action='saveFeature'}}
  </div>

  <div class="col-md-4">
    {{#feature-item item=model}}
      <br/>
    {{/feature-item}}
  </div>

</div>
