<form action="" id="register-form" method="post" name="register-form" role="form" style="display: block;">
    <div class="form-group">
        <input class="form-control" id="username" name="username"
        placeholder="Username" tabindex="1" type="text" value="">
    </div>
    <div class="form-group">
        <input class="form-control" id="email" name="email" placeholder=
        "Email Address" tabindex="1" type="email" value="">
    </div>
    <div class="form-group">
        <input class="form-control" id="password" name="password"
        placeholder="Password" tabindex="2" type="password">
    </div>
    <div class="form-group">
        <input class="form-control" id="confirm-password" name=
        "confirm-password" placeholder="Confirm Password" tabindex="2"
        type="password">
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input class="form-control btn btn-register" id=
                "register-submit" name="register-submit" tabindex="4" type=
                "submit" value="Register Now">
            </div>
        </div>
    </div>
</form>
