<h1>Trading hub for {{activeAccount}}</h1>
<div class="btn-toolbar">

  {{#link-to 'search.account' tagName="button" class="btn btn-primary dropdown-toggle"}}My Account{{/link-to}}
  {{#link-to 'search.positions' tagName="button" class="btn btn-primary dropdown-toggle"}}Open Positions{{/link-to}}
  {{#link-to 'search.markets' tagName="button" class="btn btn-primary dropdown-toggle"}}Search and Deal{{/link-to}}
</div>
{{outlet}}
